.jh-categories {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    margin-right: 20px;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        margin-top: 37px;
        transition-duration: .5s;
        cursor: pointer;

        &:hover {
            transform: rotate(-360deg);
            transition-duration: .5s;
        }
    }
}

.refresh {
    width: 30px;
    height: 30px;
}