.jh-plant {
    &__item {
        margin: 10px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-transform: capitalize;
        background: #f5f5fa;
        border: 0;
        border-radius: 8px;
        box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
        box-sizing: border-box;
        color: #2a1f62;
        font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 15px;
        position: relative;
        text-align: left;
        transition: .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: pre;
        width: max-content;
        word-break: normal;
        word-spacing: normal;
    }

    &__price {
        position: absolute;
        border-radius: 20px 20px 20px 0;
        background-color: #31b472;
        color: white;
        padding: 15px;
        right: 0;
        top: 0;
        font-weight: 500;
    }

    &__cover {
        height: 220px;
        width: 220px;
        border-radius: 20px;
    }
}